section.restarants {
    position: absolute;
    bottom: 60px;
    right: 150px;
    width: 80%;
    height: 85vh;
    background: $grey;
    border: 2px outset $lightgrey;

    @include mq-1110 {
        position: static;
        

    }
}

section.show {
    display: none;
}


.restoContainer {
   display: flex;
   flex-wrap: wrap;
   .resto {
       flex: 0 1 25%;
       padding: 0 10px 0;

       @include mq-1110 {
        flex: 0 1 25%;
        padding: 0 10px 0;
        }
   }
   


   .restoTitle {
        font-family: $mainFont;
        font-size: 3rem;
    }
    .restoImage{
        width: 25%;
        img {
            width: 100%;
        }
        
    }

    .restoInfo {
        width: 200px;
        margin: 0 auto;
    } 

}




