main {
    position: relative;
    section.form {
        border: 2px outset $lightgrey;
        width: 300px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $grey;
    }
}


// TO DYNAMICALLY SHOW FORM ON 'MEOW' BUTTON CLICK
form.display {
    display: none;
}

.foodSelect,
.formHeader,
.submit {
    width: 100%;
    padding: 20px;
    background: $grey;
    border: 2px outset $grey;
    text-align: left;
}

.submit,
.formHeader {
    background: $darkgrey;
    font-family: $mainFont;
    color: white;
    font-size: 3rem;
}