// Fonts
    $mainFont: 'VT323', monospace;

//Colors
    
    //background grey
    $grey: #c0c0c0;
    
    //border
    $lightgrey: #ebebeb;

    //header background
    $darkgrey: #808080;

    //body background
    $almostteal: rgb(0, 128, 131);



    //  MIXINS

    @mixin mq-700 {
        @media (max-width: 700px) {
            @content;
        }
    }

    @mixin mq-1110 {
        @media (max-width: 1110px) {
            @content;
        }
    }