// Fonts
    $mainFont: 'VT323', monospace;

//Colors
    
    //background grey
    $grey: #c0c0c0;
    
    //border
    $lightgrey: #ebebeb;

    //header background
    $darkgrey: #808080;

    //body background
    $almostteal: rgb(0, 128, 131);

    $white: white;